body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    color: rgb(58, 54, 54);
    font-weight: 550;
}

.container {
    width: 80%;
    margin: auto;
    background: #7bc9c96b;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
}

header {
    text-align: center;
    padding: 20px 0;
}

.profile-pic {
    width: 250px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
}

section {
    margin: 20px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #ffffff80;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px 0;
}

footer ul {
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 10px;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: #555555;
}

.skills li{
    height: 30px;
}

#projectsNext a{
    background-color: #3a425a;
    height: 20px;
    border-radius: 3px;
    padding: 5px 10px;
    color:#c8e8e8;
}

.contact{
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}